version: "3.5"
services:
  beacon-chain:
    build:
      context: beacon-chain
      args:
        UPSTREAM_VERSION: 24.8.0
        STAKER_SCRIPTS_VERSION: v0.1.0
        DATA_DIR: /opt/teku/data
    environment:
      CHECKPOINT_SYNC_URL: ""
      FEE_RECIPIENT_ADDRESS: ""
      EXTRA_OPTS: ""
      JAVA_OPTS: "-Xmx6g"
    restart: unless-stopped
    security_opt:
      - seccomp:unconfined
  validator:
    build:
      context: validator
      args:
        UPSTREAM_VERSION: 24.8.0
        STAKER_SCRIPTS_VERSION: v0.1.0
        DATA_DIR: /opt/teku/data
    environment:
      LOG_LEVEL: INFO
      GRAFFITI: validating_from_DAppNode
      EXTRA_OPTS: ""
      FEE_RECIPIENT_ADDRESS: ""
      JAVA_OPTS: "-Xmx6g"
      BACKUP_BEACON_NODE: ""
    restart: unless-stopped
    security_opt:
      - seccomp:unconfined
